

/*-----------Подключаем шрифты----------*/

@font-face {
	font-weight: normal;
	font-family: "Cuprum";
	src: local("Cuprum"),
		url("../fonts/Cuprum/Cuprum-Regular.eot");
	src: url("Cuprum-Regular.eot? #iefix") format("eot"),
		url("../fonts/Cuprum-Regular.woff") format("woff"),
		url("../fonts/Cuprum-Regular.woff2") format("woff2"),
		url("../fonts/Cuprum-Regular") format("truetype");
}

@font-face {
	font-weight: normal;
	font-family: "Cuprum-Italic";
	src: local("Cuprum-Italic"),
		url("../fonts/Cuprum/Cuprum-Italic.eot");
	src: url("Cuprum-Italic.eot? #iefix") format("eot"),
		url("../fonts/cuprumitalic.woff") format("woff"),
		url("../fonts/cuprumitalic.woff2") format("woff2"),
		url("../fonts/Cuprum-Italic.ttf") format("truetype");
}

@font-face {
	font-weight: normal;
	font-family: "Cuprum-Bold";
	src: local("Cuprum-Bold"),
		url("../fonts/Cuprum/Cuprum-Bold.eot");
	src: url("Cuprum-Bold.eot? #iefix") format("eot"),
		url("../fonts/Cuprum-Bold.woff") format("woff"),
		url("../fonts/Cuprum-Bold.woff2") format("woff2"),
		url("../fonts/Cuprum-Bold") format("truetype");
}


@font-face {
	font-weight: normal;
	font-family: "PT Sans Regular";
	src: local("PT Sans"),
		url("../fonts/PT-Sans-Regular.eot");
	src: url("PT-Sans-Regular.eot? #iefix") format("eot"),
		url("../fonts/PTSans-Regular.woff") format("woff"),
		url("../fonts/PT-Sans-Regular.woff2") format("woff2"),
		url("../fonts/PT-Sans-Regular") format("truetype");
}

@font-face {
	font-weight: normal;
	font-family: PT Sans Bold;
	src: local("PT Sans"),
		url("../fonts/PT_Sans_Bold.eot");
	src: url("PT_Sans_Bold.eot? #iefix") format("eot"),
		url("../fonts/ptsansbold.woff") format("woff"),
		url("../fonts/ptsansbold.woff2") format("woff2"),
		url("../fonts/ptsansbold.ttf") format("truetype");
}

@font-face {
	font-weight: normal;
	font-family: "Gill Sans";
	src: local("Gill Sans"),
		url("../fonts/GillSans-SemiBoldItalic.eot");
	src: url("GillSans-SemiBoldItalic.eot? #iefix") format("eot"),
		url("../fonts/GillSans-SemiBoldItalic.woff") format("woff"),
		url("../fonts/GillSans-SemiBoldItalic.woff2") format("woff2"),
		url("../fonts/GillSans-SemiBoldItalic") format("truetype");
}

/*-----------Общие стили----------------*/

body {
	font-family: "Cuprum", "Arial", sans-serif;
	font-weight: 400;
	color: #000000;

	background-color: #ffffff;
}

html,
body {
	min-width: 960px;
	
}

a {
	font-size: 14px;
	text-transform: uppercase;
	color: #ffffff;

	background-color: #ee3643;
}

/*---Подсветка TAB----*/


.nav input:focus,
.fieldset-fabricators label:focus,
.catalog-filters input:focus {
	outline: 2px solid blue;
}


.main-items,
.modal-form input[type="text"],
.modal-form textarea,
.main-service p,
.main-about p,
.catalog-promote-item p,
.catalog-crumbs a,
.catalog-filters,
.catalog-sort-menu,
.catalog-button,
.catalog-sort-menu,
.catalog-pagination a {
	font-family: "PT Sans Regular", "Arial", sans-serif;
}

.catalog-filters,
.catalog-button,
.catalog-sort-menu {
	text-transform: uppercase;
}


.catalog-crumbs a,
.catalog-filters h3,
.catalog-sort-menu,
.catalog-pagination a {
	font-size: 13px;
	color: #000000;

	background-color: inherit;
}


.footer-nav address,
.header address {
	font-style: normal;
	font-weight: normal;
	line-height: 25px;
}

.visually-hidden:not(:focus):not(:active) {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;
	-webkit-clip-path: inset(100%);
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.container {
	width: 940px;
	margin: 0 auto;
}

.header,
.header-tel,
.catalog-autorize-nav a,
.catalog-header,
.catalog-promote-item {
	background-color: #f2f6f8;
}

.top-menu,
.contacts,
.contacts a,
.top-menu-list a {
	background-color: #293449;
}

.top-menu .logo,
.footer-nav .logo {
	background-color: #ee3643;
	border-bottom: solid 5px #b52933;
}

.logo:hover {
	background-color: #ca2c37;
}

.logo:active {
	background-color: #ba2732;
}

.logo:focus {
	outline: 2px solid blue;
}

.top-menu .logo {
	width: 220px;
	height: 46px;

	z-index: 10;
}

.logo img {
	margin: 12px auto;
}

/*------------Стили для блока HEADER-------------*/
.top-menu-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.top-menu {
	height: 42px;
}

.top-menu li {
	width: 150px;
	height: 42px;
	text-align: center;
}

.top-menu-list {
	width: 720px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.top-menu-list li:first-child {
	position: relative;
	margin-right: auto;
	width: 270px;
}

.top-menu-list li:last-child {
	background-color: #63a63e;
}

.top-menu-list a,
.search {
	display: block;
	background-color: inherit;
	position: relative;
	padding-top: 11px;
	width: 150px;
	height: 41px;
}

.full-cart {
	background-color: #ee3643;
}

.top-menu-list a::before,
.header-wrapper a::before,
.header-wrapper a::after,
.top-menu-list li:first-child::before {
	content: "";
	position: absolute;
	background-repeat: no-repeat;

	width: 20px;
	height: 20px;
}

.bookmarks::after,
.cart::after {
	position: absolute;
	background-repeat: no-repeat;

	width: 20px;
	height: 20px;
}

.bookmarks::after {
	content: "0";
}

.cart::after {
	content: "10";
}

.bookmarks::after {
	right: 25px;
}

.top-menu-list a::before {
	top: 12px;
	left: 15px;
}

.top-menu-list li:first-child::before {
	background-image: url(../img/icon-search.svg);
	left: 17px;
	top: 13px;
}

.search {
	font-size: 17px;

	border: none;
	padding-top: 0px;
	padding-left: 49px;
	width: 270px;
	cursor: pointer;
	background-color: transparent;

}

.top-menu input[type="search"]:focus {
	background-color: #ffffff;
	background-image: url(../img/icon-search-focus.svg);
	background-repeat: no-repeat;
	background-position: 17px;
	font-size: 17px;
	cursor: text;

}

.top-menu input[type="search"]::-webkit-input-placeholder {
	color: #ffffff;
}

.top-menu input[type="search"]::-moz-placeholder {
	color: #ffffff;
}

.top-menu input[type="search"]:-ms-input-placeholder {
	color: #ffffff;
}

.bookmarks,
.cart {
	margin-left: 2px;
}

.bookmarks:active,
.cart:active {
	background-color: #161d29;
}



.booking:hover {
	background-color: #5fbb2d;
}

.booking:active {
	background-color: #518534;
}

.booking:focus,
.bookmarks:focus,
.cart:focus {
	outline: 2px solid blue;
}

.bookmarks::before {
	background-image: url(../img/icon-bookmark.svg);
	left: -27px;
}

.cart::before {
	background-image: url(../img/icon-cart.svg);
	left: -30px;
}

.top-menu-list li:first-child::before,
.bookmarks::before,
.cart::before {
	opacity: 0.3;
}

.top-menu-list li:first-child:hover::before,
.bookmarks:hover::before,
.cart:hover::before {
	opacity: 1;
}

.booking {
	margin-right: 2px;
}

.top-menu a,
.header-nav a {
	font-size: 17px;
	text-transform: none;
}

.header-nav a:active {
	color: #a8abaf;
}

.top-menu-list a:active {
	color: #8b8e94;
}

.header .container {
	padding-top: 47px;
}

.header {
	min-height: 278px;
}

.header-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.site-name {
	font-family: "Cuprum-Italic", "Arial", sans-serif;
	font-size: 16px;
	line-height: 23px;
	color: #ee3643;

	width: 197px;
	margin-left: 52px;
	margin-top: 2px;
}

.header-contacts {
	width: 270px;
}

.header-tel {
	font-size: 21px;
	color: #ee3643;

	display: block;
	position: relative;
	width: 270px;
	height: 45px;
	border: solid 3px #ffffff;
	text-align: center;
	padding-top: 6px;
	margin-left: 1px;
	padding-left: 24px;
}

.header-tel:focus {
	outline: 2px solid blue;
}

.header-tel::before {
	content: "";
	position: absolute;
	background-repeat: no-repeat;

	background-image: url(../img/icon-phone.svg);
	left: 12px;
	top: 8px;
}

.header-address {
	font-size: 14px;
	color: #32425c;
	text-align: center;

	padding-top: 2px;
	padding-left: 3px;
}

.header-autorize-wrapper {
	width: 283px;
}

.header-autorize {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 46px;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.header-autorize li {
	background-color: #ffffff;

	text-align: center;
}

.header-autorize li:first-child,
.login {
	width: 123px;
}

.login {
	padding-left: 22px;
}

.login::before {
	content: "";
	position: absolute;
	background-repeat: no-repeat;

	background-image: url(../img/icon-login.svg);
	top: 13px;
	left: 16px;
}

.login:hover::before {
	background-image: url(../img/icon-login-activ.svg)
}

.login:active::before {
	background-image: url(../img/icon-login.svg);
}

.header-autorize li:last-child {
	width: 150px;
}

.header-autorize a,
.catalog-header-autorize a {
	font-size: 21px;
	color: #000000;
	text-transform: none;
	background-color: #ffffff;

	display: block;
	height: 46px;
	padding-top: 10px;
	position: relative;
}

.header-autorize a:hover,
.header-autorize a:focus,
.catalog-autorize-nav a:hover,
.catalog-autorize-nav a:focus,
.catalog-sort-menu a:active,
.catalog-sort-menu a:focus {
	color: #ee3643;
}

.header-autorize a:active,
.catalog-header-autorize a:active,
.catalog-autorize-nav a:active {
	color: #cacaca;
}

.header-contacts-catalog {
	width: 270px;
	margin-left: 16px;
	margin-top: 2px;
	height: 69px;
}

/* Стили для блока авторизации страницы каталога*/

.catalog-autorize-wrapper {
	width: 300px;
}

.catalog-header-autorize {
	background-color: #ffffff;

	height: 50px;
	padding-left: 46px;
	padding-top: 10px;
	position: relative;
}

.catalog-header-autorize a {
	display: inline;
width: 0px
}

.catalog-header-autorize a:active {
	color: #cacaca;
}

.catalog-autorize-user::before,
.catalog-autorize-logout::after {
	content: "";
	position: absolute;
	background-repeat: no-repeat;
	opacity: 0.4;
}

.catalog-autorize-user::before {
	background-image: url(../img/icon-user.svg);
	bottom: 2px;
	left: -31px;
}

.catalog-autorize-logout::after {
	background-image: url(../img/icon-logout.svg);
	bottom: 2px;
	left: 38px;
}

.catalog-autorize-user:hover::before,
.catalog-autorize-logout:hover::after {
	opacity: 1;
}

.catalog-autorize-user:active::before,
.catalog-autorize-logout:active::after {
	opacity: 0.3;
}


.catalog-autorize-nav {
	width: 300px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-pack: distribute;
	-webkit-box-pack: justify;
	justify-content: space-between;
	padding-top: 1px;
	padding-right: 73px;
	padding-left: 18px;
	position: relative;
}

.catalog-autorize-nav a::after {
	content: "";
	position: absolute;
	background-repeat: no-repeat;
	top: 8px;
	left: 108px;

	width: 4px;
	height: 4px;
	background-color: #32425c;
	border-radius: 50%;
}

.catalog-autorize-nav li {
	width: auto;
}

.catalog-autorize-nav a {
	font-size: 16px;
	color: #32425c;
	text-transform: none;
	text-decoration: underline;
}

/*---Продолжение стилей для блока HEADER--------*/

.header-nav,
.header-nav a {
	background-color: #32425c;
}

.header-nav {
	margin-top: 40px;
	border-bottom: 5px solid #293449;

}

.header-nav ul {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	padding-right: 22px;
	padding-left: 14px;
}

.header-nav li {
	width: 100px;
}

.header-nav li:nth-child(5) {
	width: 150px;
}

.header-nav li:nth-child(2) {
	margin-left: -3px;
}

.header-nav li:nth-child(3) {
	margin-left: -8px;
}

.header-nav li:nth-child(4) {
	margin-left: -13px;
}

.header-nav li:nth-child(5) {
	margin-left: -8px;
}

.header-nav a {
	display: block;
	text-align: center;
	height: 54px;
	padding-top: 19px;

}

.header-nav a:focus {
	outline: 2px solid blue;
}

.header-nav a:hover,
.header-nav a:active {
	background-color: #293449;
}

/*------Стили для PROMO блока лавной страницы-----*/
.promo-top-wrapper,
.promo-bootom-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;

}

.promo-top-wrapper {
	margin-top: 58px;
}

.promo-bootom-wrapper {
	margin-top: 20px;
}

.main-promo li {
	width: 300px;
	min-height: 125px;
	position: relative;
	padding-top: 23px;
	padding-left: 22px;
	overflow: hidden;
}

.main-promo a {
	display: block;
	width: 135px;
	height: 38px;
	text-align: center;
	position: absolute;
	bottom: 23px;
	left: 24px;
	padding-top: 12px;
	border-radius: 3px;

	background-color: rgba(0, 0, 0, 0.1);
}

.main-promo a:hover {
	background-color: rgba(0, 0, 0, 0.2);
}

.main-promo a:focus {
	box-shadow: 0 0 0 1px #2f7cc0;
	border-radius: 3px;
}

.main-promo a:active {
	background-color: rgba(0, 0, 0, 0.3);
}

.promo-new {
	color: #ffffff;

	position: absolute;
	top: 8px;
	left: 237px;
	text-align: center;
	padding: 3px;
	width: 85px;
	height: 26px;
	background-color: #ee3643;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.promo-top-wrapper li::after,
.promo-bootom-wrapper li::after {
	content: "";
	position: absolute;
	background-repeat: no-repeat;

	width: 81px;
	height: 74px;
	top: 33px;
}

.main-materials::after,
.main-instrument::after,
.main-technic::after,
.promo-bootom-wrapper .main-discounts::after,
.promo-bootom-wrapper .main-delivery::after {
	content: "";
	position: absolute;
	background-repeat: no-repeat;
}

.main-materials::after {
	background-image: url(../img/icon-1.svg);
	left: 213px;
}

.main-instrument::after {
	background-image: url(../img/icon-2.svg);
	left: 197px;
}

.main-technic::after {
	background-image: url(../img/icon-3.svg);
	left: 191px;
}

.promo-bootom-wrapper .main-discounts::after {
	background-image: url(../img/icon-4.svg);
	left: 196px;
	top: 25px;
}

.promo-bootom-wrapper .main-delivery::after {
	background-image: url(../img/icon-5.svg);
	left: 190px;
	top: 32px;
}

.promo-bootom-wrapper li {
	padding-top: 22px;
	padding-left: 21px;
}

.promo-bootom-wrapper .main-promo {
	width: 300px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.main-promo h3 {
	font-size: 24px;
	font-family: "Cuprum-Bold", "Arial", sans-serif;
	text-transform: none;
	color: #ffffff;
}

.main-materials {
	background-color: #ffbf47;
}

.main-instrument {
	background-color: #3bbce3;
}

.main-technic {
	background-color: #dc91d8;
}

.main-discounts {
	background-color: #8ed78f;
}

.main-delivery {
	background-color: #ffc047;
}

/*-------Блок слайдера------*/
.promo-slider {
	width: 620px;
	height: 266px;
	font-size: 18px;
	color: #ffffff;
	position: relative;
	background-color: #685c53;
}

.slider-left,
.slider-right {
	position: absolute;
	display: block;
	width: 35px;
	height: 45px;
	background-color: inherit;
	background-repeat: no-repeat;

	cursor: pointer;
}

.promo-slider::before,
.promo-slider::after {
	content: "";
	position: absolute;
	background-repeat: no-repeat;

	width: 10px;
	height: 10px;
}

.slider-left {
	left: 25px;
	top: 112px;
	background-image: url(../img/icon-left.svg);
}

.slider-right {
	background-image: url(../img/icon-right.svg);
	right: 7px;
	top: 112px;
}

.promo-slider h3 {
	font-family: "Cuprum-Bold", "Arial", sans-serif;
	font-size: 36px;
	text-transform: uppercase;

	position: absolute;
	padding-top: 20px;
	margin-left: 24px;
}

.promo-slider p {
	position: absolute;
	padding-top: 62px;
	margin-left: 25px;
}

.main-links {
	display: block;
	height: 38px;

	text-align: center;
	padding: 11px;
	margin-top: 37px;
	border-radius: 3px;
}

.main-links:hover {
	background-color: #ca2c37;
}

.main-links:active {
	background-color: #ba2732;
}

.main-links:focus {
	box-shadow:
		0 0 0 1px #fff,
		0 0 0 2px #2f7cc0;
}

.slider-batton {
	position: absolute;
	width: 196px;
	bottom: 22px;
	margin-left: 25px;
	padding-left: 14px;
}

.slider-batton:hover,
.slider-batton:active {
	background-color: #ca2c37;
}

.slider-point-wrapper {
	position: absolute;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 31px;
	height: 15px;
	bottom: 32px;
	left: 294px;
}

.slider-point-white {
	width: 10px;
	height: 10px;
	border-radius: 50%;

	background-color: #ffffff;
}

.slider-point-red {
	position: absolute;
	width: 6px;
	height: 6px;
	top: 2px;

	border-radius: 50%;
	background-color: #ee3643;
}

.right {
	right: 2px;
}

.left {
	left: 2px;
}

/*-----Секция популярные товары-------*/
.main-popular,
.main-popular-maker {
	font-size: 30px;
	color: #32425c;
	text-transform: uppercase;

	background-color: #f9f5f0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	min-height: 87px;
	padding-top: 26px;
	padding-left: 28px;
	padding-right: 25px;

}

.main-popular {
	margin-top: 54px;
}

.main-popular-maker {
	margin-top: 23px;
}

.main-popular h2,
.main-popular-maker h2 {
	font-weight: normal;
	width: auto;

}


.main-popular .main-links,
.main-popular-maker .main-links {
	width: 252px;
	margin-top: -2px;
}

/*--------Карточки товаров---------*/

.catalog-new {
	font-size: 15px;
	font-weight: normal;
	color: #ffffff;

	position: absolute;
	top: 6px;
	left: 153px;
	text-align: center;
	padding-top: 4px;

	width: 90px;
	height: 27px;
	background-color: #ee3643;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.main-items {
	font-size: 18px;
	line-height: 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-top: 20px;
}

.card-item {
	outline: 1px solid #eaeaea;
	width: 218px;
	text-align: center;
	position: relative;
	overflow: hidden;
	min-height: 316px;
}

.card-item:hover {
	-webkit-box-shadow: 5px 10px 25px -10px #293449,
		-5px 10px 25px -10px #293449;
	box-shadow: 5px 10px 25px -10px #293449,
		-5px 10px 25px -10px #293449;
}

.card-item:focus {
	outline: 2px solid blue;
}

.card-item:hover .cards-popap {
	display: block;
}

.card-item:hover .cardimg {
	display: none;
}

.main-items h3 {
	width: 170px;
	margin: 0px auto;
	padding-top: 9px;
	padding-bottom: 10px;
}

.crossed {
	font-size: 17px;
	color: #a9a9a9;
	text-decoration: line-through;
	text-transform: uppercase;

	display: inline-block;
	vertical-align: bottom;

}

.price-arrow {
	font-size: 18px;
	width: 121px;
	height: 39px;
	margin-left: 42px;
	margin-top: 9px;
	padding-top: 9px;
	padding-left: 16px;
	position: relative;

	background-color: #ee3643;
}

.price-arrow::after {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-left: 19px solid #ee3643;
	border-bottom: 19px solid transparent;
	left: 121px;
	top: 0px;
}

.price {
	font-size: 17px;
	color: #ffffff;
	text-transform: uppercase;
}

/*----Секция популярные производители----*/

.popular-maker {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.popular-maker li {
	width: 220px;
	margin-top: 21px;
}

.popular-maker a {
	width: 220px;
	height: 145px;
}

.popular-maker a:focus img {
	outline: 2px solid blue;
}

.popular-maker li:hover {
	-webkit-box-shadow: 5px 10px 25px -10px #293449,
		-5px 10px 25px -10px #293449;
	box-shadow: 5px 10px 25px -10px #293449,
		-5px 10px 25px -10px #293449;
}

.popular-maker li:active {
	-webkit-box-shadow: 5px 4px 10px -5px #293449,
		-5px 4px 10px -5px #293449;
	box-shadow: 5px 4px 10px -5px #293449,
		-5px 4px 10px -5px #293449;
	opacity: 0.3;
}

/*------------Блок сервисов------------------*/
.main-service {
	background-color: #f4f7f9;
	margin-top: 85px
}

.main-service h2,
.main-about h2,
.catalog-promote-item h2 {
	font-size: 30px;
	font-weight: normal;
	text-transform: uppercase;
}

.main-service h4 {
	font-size: 36px;
	color: #32425c;
	text-transform: uppercase;
	font-weight: normal;
}

.main-service p,
.main-about p,
.catalog-promote-item p {
	font-size: 13px;
	line-height: 24px;
}

.main-service-top-wrapper {
	width: 400px;
	margin-right: 98px;
	padding-top: 63px;
}

.main-service p {
	margin-top: 22px;
}

.main-service-choice {
	font-size: 21px;
	font-family: "Cuprum-Bold", "Arial", sans-serif;
	color: #ffffff;

	width: 250px;
	padding-top: 70px;
	position: relative;
}

.service-choice-wrapper {
	width: 240px;
	overflow: hidden
}

.main-service-choice::before {
	content: "";
	position: absolute;
	background-repeat: no-repeat;

	height: 250px;
	left: 245px;
	top: 40px;

	-webkit-box-shadow: 0 5px 30px 10px rgba(0, 0, 0, .5);

	box-shadow: 0 5px 30px 10px rgba(0, 0, 0, .5);
}

.service-choice {
	background-color: #32425c;
	min-height: 62px;
	padding-top: 17px;
	padding-left: 22px;
}

.service-choice {
	border-bottom: 1px solid #293449;
	border-top: 1px solid #405069;
}

.service-choice:hover {
	background-color: #293449;

	color: #ffffff;
}

.service-choice:active {
	color: #32425c;

	background-color: #ffffff;
	border: none;
}

.current-choice {
	background-color: #ffffff;
	color: #32425c;
	border: none;
}

.main-service-choice-slider-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	width: 940px;
}

.main-service-slider {
	width: 700px;
	min-height: 280px;
	padding-left: 80px;
	margin-top: 66px;

	background-repeat: no-repeat;
}

.delivery p {
	width: 277px;
}

.delivery {
	background-image: url("../img/service.png");
	background-position: 230px 28px;
}

.guarantee {
	background-image: url("../img/garanty.png");
	background-position: 312px 6px;
}

.guarantee p {
	width: 377px;
}

.guarantee h4 {
	font-family: "Gill Sans", "Arial", sans-serif;
}

.credit {
	background-image: url("../img/credit.png");
	background-position: 230px 3px;
}

.credit-batton {
	width: 194px;
	margin-top: 27px;
}

.main-about {
	margin-bottom: 85px;
}

.main-about .container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding-top: 86px;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.main-about-delivery {
	width: 520px;
}

.main-about-delivery .main-links {
	width: 220px;
}

.main-about-contacts {
	width: 301px;
}

.main-about p {
	padding-top: 23px;

}

.main-about-text {
	letter-spacing: 0.13px;
}

.delivery-text {
	width: 400px;
	letter-spacing: 0.03px
}

.contacts-text {
	width: 178px;
}

.main-about figure {
	width: 301px;
	height: 158px;
	margin-top: 32px;
	position: relative;
	background-color: #eeeae3;
	cursor: pointer;
}


.main-about-transport {
	font-size: 18px;
	padding-top: 22px;
	padding-left: 36px;

	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.main-about-transport li {
	padding-bottom: 20px;
	position: relative;
}

.main-about-transport li::before {
	content: "";
	position: absolute;
	background-repeat: no-repeat;

	background-color: #ee3643;
	width: 25px;
	height: 3px;
	left: -36px;
	top: 8px;
}

.main-about-delivery .main-links {
	margin-top: 16px;
}

.feedback-link {
	margin-top: 40px;
	padding-top: 12px;
	padding-left: 15px;
}

/*----Стили для страницы CATALOG----*/

.catalog-filters h3,
.catalog-sort-menu,
.catalog-filters-price,
.price-limits-wrapper input {
	background-color: #f7f3ec;
	border-radius: 3px;
}

.catalog-crumbs {
	min-height: 60px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	width: 355px;
	padding-top: 20px;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.catalog-crumbs a:focus {
	color: crimson;
}

.catalog-crumbs li {
	width: auto;
	padding-left: 12px;
	position: relative;
}

.catalog-crumbs a::before,
.catalog-crumbs li::before {
	content: "";
	position: absolute;
	width: 15px;
	height: 15px;
	background-repeat: no-repeat;
}

.catalog-crumbs li::before {
	background-image: url(../img/icon-right-small.svg);
	top: 2px;
}

.catalog-crumbs li:first-child::before {
	background-image: none;
}

.catalog-crumbs li:nth-child(2)::before {
	right: 63px;
}

.catalog-crumbs li:nth-child(3)::before {
	right: 87px;
}

.catalog-crumbs li:nth-child(4)::before {
	right: 96px;
}

.catalog-crumbs-home {
	position: relative;

}

.catalog-crumbs .catalog-crumbs-home::before {
	content: "";
	position: absolute;
	background-repeat: no-repeat;

	background-image: url(../img/icon-home.svg);
	left: -14px;
	margin-top: 2px;

}

.catalog-header {
	font-size: 30px;
	color: #32425c;
	text-transform: uppercase;
	font-weight: normal;

	min-height: 88px;
	padding-top: 27px;
	padding-left: 27px;
}

.catalog-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	width: 100%;
	margin-top: 19px;
}

/*---Секция фильтров каталога----*/
.catalog-filters {
	width: 220px;
}

.catalog-filters h3,
.catalog-sort-menu h3 {
	min-height: 38px;
	padding-left: 18px;
	padding-top: 12px;
}

.catalog-filters h3 {
	width: 220px;
}

/*---------Меню сортировки-----------*/
.catalog-sort-menu h3 {
	width: 82px;
	margin-right: 110px;
	margin-left: 1px;
}

.catalog-sort-menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	width: 700px;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.catalog-sort-menu ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	text-align: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 354px;
}

.catalog-sort-menu li:nth-child(2) {
	margin-left: 5px;
}

.sort-menu-item {
	width: auto;
	border-bottom: 1px dotted #ee3643;
	height: 28px;
}

.sort-menu-item:hover {
	border-bottom: 1px solid #ee3643;
}

.sort-menu-item:active {
	border-bottom: none;
}

.sort-menu {
	display: block;
	height: 37px;
	padding-top: 12px;
	color: #c5c5c5;
	background-color: inherit;
	text-decoration: none;

	font-size: 13px;
}

.sort-menu:hover {
	color: #000000;
}

.sort-menu:active,
.sort-menu:focus {
	color: #ee3643;
}

.current-sort {
	border-bottom: none;
	color: #ee3643;
}

.icon-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-right: 17px;
	width: 43px;
	padding-top: 12px;
}

.icon-wrapper a {
	background-color: inherit;
	width: auto;
}

.icon-wrapper a:hover path {
	fill: #231f20;
}

.icon-wrapper a:active path,
.icon-wrapper a:focus path {
	fill: #ee3643;
}

/*-----Секция фильтров по цене и питанию------*/

.catalog-filters fieldset {
	border: none;
	padding: 0px;
}

.fieldset-price {
	margin-top: 17px;
}

.catalog-filters legend {
	font-size: 17px;
	font-weight: bold;
	padding: 0px;
	margin-left: -2px;
}

.catalog-filters-price {
	height: 81px;
	width: 217px;
	margin-top: 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.price-line-one {
	width: 140px;
	height: 2px;
	background-color: #00ca74;
	margin-left: 18px;
	position: relative;
}

.price-line-two {
	width: 40px;
	height: 2px;
	background-color: #d7dcde;
	position: relative;
}

.catalog-filters-price button {
	width: 22px;
	height: 22px;
	position: absolute;
	border: none;
	background-color: inherit;
	background-image: url(../img/filter-button.svg);
	background-repeat: no-repeat;
	background-color: transparent;
	top: -9px;
}

.button-right {
	right: 19px;
}

.price-limits-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	width: 216px;
	margin-top: 9px;
	text-align: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding-bottom: 27px;
	border-bottom: 1px solid #d7dcde;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.price-limits-wrapper input {
	font-size: 18px;
	border: none;
	text-align: center;

	width: 91px;
	height: 35px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

input[type="number"] {
	-moz-appearance: textfield;
}

.dash {
	width: 8px;
	height: 2px;
	background-color: #000000;
}

.fieldset-fabricators {
	margin-top: 21px;
}

.fieldset-fabricators ul {
	font-size: 15px;
	border-bottom: 1px solid #d7dcde;
	padding-top: 21px;
	height: 222px;
}

.fieldset-fabricators li {
	padding-left: 32px;
	padding-bottom: 23px;

	position: relative;
}

.fieldset-power {
	margin-top: 22px;
	font-size: 15px;
}

.fieldset-power ul {
	padding-top: 22px;
}

.fieldset-power li {
	position: relative;
	padding-left: 32px;
	padding-bottom: 22px;
}

.disabled {
	color: #e9e9e9;
}

.fieldset-fabricators input[type="checkbox"],
.fieldset-power input[type="radio"] {
	display: none;
}


.fieldset-fabricators input[type="checkbox"] ~ .chekbox-indicator,
.fieldset-power input[type="radio"] ~ .radio-indicator {
	position: absolute;
	width: 25px;
	height: 25px;
	background-repeat: no-repeat;
	cursor: pointer;
	opacity: 0.7;
}

.fieldset-fabricators input[type="checkbox"][disabled] ~ .chekbox-indicator,
.fieldset-fabricators input[type="checkbox"][disabled]:hover ~ .chekbox-indicator,
.fieldset-power input[type="radio"][disabled] ~ .radio-indicator,
.fieldset-power input[type="radio"][disabled] ~ .radio-indicator:hover {
	opacity: 0.3;
	cursor: auto;
}

.fieldset-fabricators input[type="checkbox"] ~ .chekbox-indicator:hover,
.fieldset-power input[type="radio"] ~ .radio-indicator:hover {
	opacity: 1;
}


.fieldset-fabricators input[type="checkbox"] ~ .chekbox-indicator {
	left: -2px;
	top: -3px;

	background-image: url(../img/checkbox-off.svg);

}

.fieldset-power input[type="radio"] ~ .radio-indicator {
	top: -4px;
	left: -4px;

	background-image: url(../img/radio-off.svg);

}

.fieldset-fabricators input[type="checkbox"]:checked ~ .chekbox-indicator::before {
	content: "";
	position: absolute;
	background-repeat: no-repeat;

	width: 25px;
	height: 25px;

	background-image: url(../img/checkbox-on.svg);
}


.fieldset-power input[type="radio"]:checked ~ .radio-indicator::before {
	content: "";
	position: absolute;
	background-repeat: no-repeat;

	width: 25px;
	height: 25px;
	background-image: url(../img/radio-on.svg);
}

.catalog-button {
	background-color: #ffffff;
	border: 1px solid #d7dcde;
	border-radius: 3px;
	margin-top: 59px;
	height: 38px;
	width: 140px;
	cursor: pointer;
}

/*---Каталог карточек товаров----*/
.catalog-cards-wrapper {
	width: 700px;
	padding-left: 20px;
}

.catalog {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 700px;
	margin-top: 0px;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.catalog-cards li {
	width: auto;
	margin-top: 22px;
	width: 219px;
	position: relative;
	overflow: hidden;
}

.catalog-button {
	font-size: 13px;
}

.catalog-pagination {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding-top: 53px;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}

.catalog-pagination li {
	height: auto;
	width: auto;
	margin-right: 11px;

	border-radius: 2px;
}

.catalog-pagination a {
	display: block;
	height: 37px;
	width: 37px;
	text-align: center;
	padding: 10px;
	border: 1px solid #e5e5e5;
	border-radius: 3px;
}

.catalog-pagination a:hover {
	border-color: #bdc6ca;
}

.catalog-pagination a:active,
.catalog-pagination a:focus {
	border-color: #ee3643;
}

.catalog-pagination .current-pagination {
	background-color: #ee3643;
	color: #ffffff;
}

.pagination-following a {
	width: 138px;

}

.catalog-item-popap {
	font-size: 30px;
}

.catalog-item-popap a {
	font-size: 14px;
	color: #000000;

	background-color: inherit;
}

.catalog-item-popap-menu {
	background-color: #f1f1f1;
}

.catalog-promote-item {
	margin-top: 60px;
	min-height: 262px;
	padding-top: 65px;
}

.catalog-promote-item h2 {
	margin-bottom: 22px;
}

.catalog-promote-item p {
	letter-spacing: 0.16px;
}

/*-----------Стили для FOOTER----------------*/

.tel:focus {
	outline: 2px solid blue;
}

.footer-nav,
.footer-nav a {
	font-size: 18px;
	text-transform: none;
	color: #f3f7f9;

	background-color: #32425c;
}

.footer-nav {
	min-height: 192px;
}

.footer-nav .logo {
	height: 70px;
	width: 220px;
	margin-right: auto;
}

.footer-nav img {
	padding-top: 9px;
	width: auto;
}

.footer-top-wrapper {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.footer-nav nav,
.footer-nav-top li {
	width: auto;
}

.footer-nav-top {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	width: 548px;
	padding-top: 30px;
	text-align: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.footer-nav a:hover:not(.tel) {
	text-decoration: underline;
}

.footer-nav-top a:active {
	color: #8a939f;

	text-decoration: none;
}

.footer-nav-top a:focus {
	outline: 2px solid blue;
}

.footer-nav-bottom-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-top: 26px;
	margin-left: 3px;
}

.footer-contacts {
	width: 325px;
}

.footer-address {
	width: 325px;
}

.footer-nav-bottom li {
	width: auto;
}

.footer-nav-bottom {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	width: 612px;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding-top: 2px;
	padding-left: 87px;
}


.contacts {
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;

	min-height: 110px;
}

.footer-nav-bottom a,
.contacts a {
	color: #ffd180;
	text-transform: none;
}

.footer-nav-bottom a:active {
	color: #a9936e;
	text-decoration: none;
}

.footer-nav-bottom a:focus {
	outline: 2px solid blue;
}

.contacts .container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding-top: 38px;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.rights {
	width: 231px;
}

.socials {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	width: 117px;
	margin-left: 27px;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.socials li {
	width: 29px;
}

.socials a {
	display: block;
	margin-right: 5px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #212a3a;
}

.socials a:hover,
.socials a:focus {
	background-color: #ee3643;
}

.socials-vk {
	padding-top: 10px;
	padding-left: 7px;
}

.socials-fb {
	padding-top: 8px;
	padding-left: 14px;
}

.socials-inst {
	padding-left: 10px;
	padding-top: 8px;
}

.contacts-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	width: 300px;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.contacts-mail {
	width: 136px;
}

.contacts-html {
	width: 111px;
}

.contacts-mail a,
.contacts-html a {
	font-size: 16px;
}

.contacts-mail a {
	padding-left: 1px;
}

.contacts-mail a:hover,
.contacts-html a:hover {
	text-decoration: underline;
}

.contacts-mail a:active,
.contacts-mail a:focus,
.contacts-html a:active,
.contacts-html a:focus {
	color: #ee3643;
	text-decoration: none;
}

/*-------Модальные окна--------*/
.modal {
	background-color: #ffffff;
	position: fixed;
}

/*----Форма обратной связи и окно покупки в каталоге-----*/
.modal-feedback,
.catalog-modal {
	-webkit-box-shadow: 5px 20px 40px -10px rgba(0, 0, 0, .75),
		-5px 20px 40px -10px rgba(0, 0, 0, .75);
	box-shadow: 5px 20px 40px -10px rgba(0, 0, 0, .75),
		-5px 20px 40px -10px rgba(0, 0, 0, .75);
	border-top: 8px solid #ff5358;

	left: 50%;
	margin-left: -310px;
	width: 620px;
	display: none;
}

.modal-feedback {
	font-size: 18px;
	bottom: 202px;
}

.modal-feedback label:hover {
	cursor: pointer;
}

.modal-form input[type="text"],
textarea {
	outline: none;
	color: #000000;
	text-transform: none;
	width: 100%;
	padding-left: 13px;
	padding-top: 7px;
	margin-top: 9px;

	font-size: 13px;
	line-height: 18px;

	border: 2px solid #d7dcde;
	border-radius: 3px;
}

.modal-form input[type="text"]:hover,
textarea:hover {
	border-color: #b5b5b5;
}


.modal-form input[type="text"]:focus,
textarea:focus {
	border-color: #ee3643;
}

.modal-form input[type="text"] {
	padding-bottom: 9px;
}

textarea {
	height: 114px
}

.modal-form {
	padding-top: 45px;
	padding-left: 80px;
	padding-right: 80px;
}

.modal-top-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.modal-box {
	width: 220px;
}

.modal-box-textarea {
	margin-top: 20px;
}

.modal-batton-wrapper {
	margin-top: 30px;
	height: 114px;
	background-color: #f4f4f4;
}

.modal-batton {
	width: 460px;
	height: 38px;
	position: absolute;
	bottom: 37px;

	font-size: 14px;
	text-transform: uppercase;
	color: #ffffff;

	border: none;
	border-radius: 3px;
	background-color: #ee3643;
	cursor: pointer;
}

.modal-close,
.map-close,
.catalog-modal-close {
	position: absolute;
	border: none;
	right: 9px;
	top: 9px;

	width: 22px;
	height: 22px;

	cursor: pointer;
	background-color: transparent;
	background-image: url(../img/icon-close.svg);
	background-repeat: no-repeat;

}

/*----------Модальное окно покупки в каталоге--------*/

.catalog-modal {
	top: 410px;
	z-index: 199;
}

.catalog-modal-title {
	font-size: 30px;
	margin-top: 63px;
	margin-left: 180px;
	position: relative;
}

.catalog-modal-title::before {
	content: "";
	position: absolute;
	background-repeat: no-repeat;
	background-image: url(../img/form-1.png);

	width: 66px;
	height: 66px;
	left: -100px;
	top: -15px;
}

.catalog-modal-menu {
	height: 112px;
	margin-top: 65px;
	background-color: #f4f4f4;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 0 80px;
}

.catalog-modal-menu p {
	width: 220px;
	margin: 0px;
}

.catalog-modal-menu a {
	padding-top: 13px;
	padding-left: 8px;
}

.right-batton {
	background-color: #ffffff;
	color: #000000;
}

/*----Анимация модальных окон-----*/

@-webkit-keyframes feedback {
	0% {
		-webkit-transform: translateY(-2000px);
		transform: translateY(-2000px);
	}

	70% {
		-webkit-transform: translateY(30px);
		transform: translateY(30px);
	}

	90% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}

	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}

@keyframes feedback {
	0% {
		-webkit-transform: translateY(-2000px);
		transform: translateY(-2000px);
	}

	70% {
		-webkit-transform: translateY(30px);
		transform: translateY(30px);
	}

	90% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}

	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}

@-webkit-keyframes shake {

	0%,
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}

	10%,
	30%,
	50%,
	70%,
	90% {
		-webkit-transform: translateX(-10px);
		transform: translateX(-10px);
	}

	20%,
	40%,
	60%,
	80% {
		-webkit-transform: translateX(10px);
		transform: translateX(10px);
	}
}

@keyframes shake {

	0%,
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}

	10%,
	30%,
	50%,
	70%,
	90% {
		-webkit-transform: translateX(-10px);
		transform: translateX(-10px);
	}

	20%,
	40%,
	60%,
	80% {
		-webkit-transform: translateX(10px);
		transform: translateX(10px);
	}
}

/*------Карта-----*/

.modal-map {
	bottom: 320px;
	left: 50%;
	width: 940px;
	height: 448px;
	margin-left: -470px;

	-webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, .35);

	box-shadow: 0 0 10px 5px rgba(0, 0, 0, .35);

	display: none;
	background-image: url(../img/map-popap.png);
}

.map-close {
	top: 10px;
	right: 9px;
}

/*----Меню при наведении карточки товаров-----*/

.cards-popap {
	padding-top: 44px;
	margin-left: 41px;
	width: 135px;
	height: 170px;

	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: normal;
	 display: none;  
}

.cards-popap a,
.buy-item {
	display: block;

	padding-left: 4px;
	border-radius: 3px;
}

.buy-item {
	-webkit-box-shadow: inset 0 -3px 0 #367315;
	box-shadow: inset 0 -3px 0 #367315;
	margin-bottom: 11px;
	padding-top: 12px;
	padding-bottom: 7px;

	background-color: #63a63e;
	background-image: url(../img/icon-cart-2.svg);
	background-repeat: no-repeat;
	background-position: 14px 10px;

	border: none;
	width: 100%;
	font-size: 14px;
	text-transform: uppercase;
	color: #ffffff;
	padding-left: 9px;
}

.buy-item:hover {
	background-color: #5fbb2d;
	background-image: url(../img/icon-cart.svg);

}

.buy-item:active {
	background-color: #518534;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.in-bookmark {
	color: #32425c;
	background-color: inherit;
	border: 2px solid #63a63e;

	padding-top: 10px;
	padding-bottom: 8px;
}

.in-bookmark:hover {
	border-color: #32425c;
}

.in-bookmark:active,
.in-bookmark:focus {
	color: #c1c6ce;
	border-color: #c1c6ce;
}

/*-----Модальные классы----*/
.modal-show {
	display: block;
	-webkit-animation-name: feedback;
	animation-name: feedback;
	-webkit-animation-duration: 0.6s;
	animation-duration: 0.6s;
}

.show {
	display: block;
}

.modal-error {
	-webkit-animation-name: shake;
	animation-name: shake;
	-webkit-animation-duration: 0.6s;
	animation-duration: 0.6s;
}

.cart full {
	background-color: #ee3643;
}
