body {
    font-family: "Cuprum", "Arial", sans-serif;
    font-weight: 400;
    color: #000000;

    background-color: #ffffff;
}

html,
body {
    min-width: 1200px;
    min-height: 3150px;
}

a {
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;

    background-color: #ee3643;
}

address {
    font-style: normal;
}

.visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 940px;
    margin: 0 auto;
}

.crossed {
    color: #a9a9a9;
    text-decoration: line-through;
}

.header,
.header-tel,
.catalog-autorize-nav a,
.catalog-header {
    background-color: #f2f6f8;
}

.top-menu,
.contacts,
.top-menu a,
.contacts a {
    background-color: #293449;
}

.top-menu-wrapper {
    display: flex;
    }

.top-menu {
    height: 42px;
}

.top-menu-list {
    display: flex;
    justify-content: flex-end;
    }


.logo {
    width: 220px;
    height: 42px;
    background-color: #ee3643;
}

.logo img {
    margin: 12px auto;
}

.top-menu a,
.header-nav a {
    font-size: 17px;
    text-transform: none;
}

.header-nav a:active {
    color: #a8abaf;
}

.top-menu-list a:active {
    color: #8b8e94;
}

.title {
    font-style: italic;
    font-size: 16px;
    line-height: 23px;
    color: #ee3643;
}

.header-tel {
    font-size: 21px;
    color: #ee3643;
}

.header-address {
    font-size: 14px;
    color: #32425c;
}

.header-autorize a,
.catalog-header-autorize a {
    font-size: 21px;
    color: #000000;
    text-transform: none;
    background-color: #ffffff;
}

.header-autorize a:hover,
.catalog-autorize-nav a:hover,
.catalog-sort-menu a:active {
    color: #ee3643;
}

.header-autorize a:active,
.catalog-header-autorize a:active,
.catalog-autorize-nav a:active {
    color: #c5c5c5;
}

.catalog-autorize-nav a {
    font-size: 16px;
    color: #32425c;
    text-transform: none;
    text-decoration: underline;
}

.header-nav,
.header-nav a {
    background-color: #32425c;
}

.main-promo h3 {
    font-size: 24px;
    font-weight: bold;
    text-transform: none;
    color: #ffffff;
}

.main-materials,
.main-materials a {
    background-color: #ffbf47;
}

.main-instrument,
.main-instrument a {
    background-color: #3bbce3;
}

.main-technic,
.main-technic a {
    background-color: #dc91d8;
}

.main-discounts,
.main-discounts a {
    background-color: #8ed78f;
}

.main-delivery,
.main-delivery a {
    background-color: #ffc047;
}

.prpmo-slider {
    font-size: 18px;
    color: #ffffff;
}

.prpmo-slider h3 {
    font-size: 36px;
    text-transform: uppercase;
}

.main-popular {
    font-size: 30px;
    color: #32425c;
    text-transform: uppercase;

    background-color: #f9f5f0;
}

.main-items {
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
}

.price {
    font-size: 17px;
    color: #ffffff;
}

.main-service {
    background-color: #f4f7f9;
}

.main-service h2,
.main-about h2,
.catalog-promote-item h2 {
    font-size: 30px;
    text-transform: uppercase;
}

.main-service h4 {
    font-size: 36px;
    color: #32425c;
    text-transform: uppercase;
}

.main-service p,
.main-about p,
.catalog-promote-item p {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
}

.main-service-choice {
    font-size: 21px;
    font-weight: bold;
    color: #ffffff;
}

.main-service-choice li {
    background-color: #32425c;
}

.main-service-choice li:hover {
    background-color: #293449;
}

.main-service-choice li:active {
    color: #32425c;

    background-color: #ffffff;
}

.background-delivery {
    width: 468px;
    height: 261px;
    background-image: url("../img/Service.png");
}

.main-about-transport {
    font-size: 18px;
}

.catalog-crumbs a,
.catalog-filters h3,
.catalog-sort-menu,
.catalog-pagination a {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    color: #000000;

    background-color: inherit;
}

.catalog-header {
    font-size: 30px;
    color: #32425c;
    text-transform: uppercase;
}

.catalog-filters,
.catalog-button,
.catalog-sort-menu {
    font-family: "PT Sans", "Arial", sans-serif;
    text-transform: uppercase;
}

.catalog-filters h3,
.catalog-sort-menu,
.catalog-filters-price {
    background-color: #f7f3ec;
}

.catalog-filters fieldset {
    border: none;
}

.catalog-filters legend {
    font-size: 17px;
    font-weight: bold;
}

.catalog-filters ul {
    font-size: 15px;
}

.catalog-button {
    font-size: 13px;
}

.catalog-sort-menu a {
    color: #c5c5c5;

    background-color: inherit;
}

.catalog-sort-menu a:hover {
    color: #000000;
}

.catalog-item-popap {
    font-size: 30px;
}

.catalog-item-popap a {
    font-size: 14px;
    color: #000000;

    background-color: inherit;
}

.catalog-item-popap-menu {
    background-color: #f1f1f1;
}

.footer-nav,
.footer-nav a {
    font-size: 18px;
    text-transform: none;
    color: #f3f7f9;

    background-color: #32425c;
}

.footer-nav a:hover {
    text-decoration: underline;
}

.footer-nav-top a:active {
    color: #8a939f;

    text-decoration: none;
}

.contacts {
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
}

.footer-nav-bottom a,
.contacts a {
    color: #ffd180;
    text-transform: none;
}

.footer-nav-bottom a:active {
    color: #a9936e;

    text-decoration: none;
}

.contacts-mail a:hover,
.contacts-html a:hover {
    text-decoration: underline;
}

.contacts-mail a:active,
.contacts-html a:active {
    color: #ee3643;
    text-decoration: none;
}
